body {
    display: flex;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: #0d6efd;
    padding: 20px;
    color: white;
    position: fixed;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 15px 0;
    font-size: 16px;
    cursor: pointer;
}

.sidebar a:hover {
    background: rgba(255, 255, 255, 0.2);
    padding-left: 10px;
    border-radius: 6px;
}

.logout {
    margin-top: 40px;
    color: #ffdddd !important;
}

.content {
    margin-left: 270px;
    padding: 30px;
    width: 100%;
}