body {
    background: #f5f7ff;
}

/* Login box style */
.login-box {
    width: 350px;
    animation: fadeIn 0.4s ease-in-out;
}

/* Back Button Hover */
.back-btn {
    border-radius: 50%;
    transition: 0.3s;
}

.back-btn:hover {
    background-color: #e9e9e9;
}

/* Fade animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}