body {
    background: #f4f7fc;
}

.role-card {
    background: white;
    border-radius: 12px;
    padding: 25px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.role-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    background: #eef4ff;
}

h2 {
    font-weight: 600;
    color: #333;
}

.role-card i {
    color: #0d6efd;
}

/* admin panel*/

.admin-btn {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9999;
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: 500;
    transition: 0.3s ease;
}

.admin-btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}